.card {
  display: flex;
  flex-direction: column;
  font-family: Inter, Arial, sans-serif;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  max-width: 282px;
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 0 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.card__like-button {
  background: transparent url(../images/like\ button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  align-self: center;
  margin: 0 30px 0 auto;
  border: 0;
  padding: 0 0 0 20px;
}

.card__like-button-active {
  background-image: url(../images/like\ button\ active.svg);
}

.card__like-button:hover {
  transition: 0.5s;
  opacity: 50%;
  cursor: pointer;
}

.card__delete-button {
  background: transparent url(../images/delete\ button.svg) center no-repeat;
  width: 18px;
  height: 19px;
  right: 15px;
  top: 18px;
  position: absolute;
  border: 0;
}
.card__delete-button:hover {
  transition: 0.5s;
  opacity: 60%;
  cursor: pointer;
}
.card__image-name {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .card__image {
    max-width: 100%;
  }

  .card__like-button {
    padding-left: 20px;
  }
}

@media screen and (max-width: 550px) {
  .card {
    width: 282px;

    justify-content: center;
    align-content: center;
  }
}
