.modal {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}
.modal_open {
  /* display: flex; */
  visibility: visible;
  pointer-events: all;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  border-radius: 10px;
  background-color: #fff;
  width: 430px;
  height: 330px;
  position: relative;
  margin: auto;
}

.modal__close-button {
  background: transparent url(../images/Close\ Icon.svg) center no-repeat;
  width: 40px;
  height: 40px;
  border: 0;
  position: absolute;
  top: -40px;
  right: -40px;
}

.modal__close-button:hover {
  cursor: pointer;
  opacity: 60%;
  transition: 0.5s;
}

.modal__title {
  max-width: 330px;
  margin: 34px 64px 54px 36px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: #000;
}

.modal__form {
  display: flex;
  flex-direction: column;
  max-width: 358px;
  margin: 0 auto;
  border: 0;
}

.modal__input {
  border: 0;
  font-size: 14px;
  line-height: 17px;
  height: 27px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__input:last-of-type {
  margin-top: 30px;
}
.modal__save-button {
  background-color: #000;
  color: #fff;
  margin: 48px 0 36px;
  height: 50px;
  border: none;
}

.modal__save-button:hover {
  opacity: 80%;
  transition: 0.5s;
  cursor: pointer;
}

.modal__preview_container {
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  height: auto;
  display: flex;
}

.modal__preview_image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;

  padding: 0;
}

.modal__preview_text {
  max-width: 291px;
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  bottom: -20px;
  margin: 0;
}

@media screen and (max-width: 550px) {
  .modal__container {
    max-width: 282px;
  }
  .modal__title {
    margin: 25px 22px 75px;
  }

  .modal__form {
    max-width: 238px;
    margin: 0 22px;
  }

  .modal__save-button {
    margin-top: 45px;
  }

  .modal__close-button {
    width: 26px;
    height: 26px;
    top: -45px;
    right: 10px;
  }
}
